.idea
*.ipynb
.vs
__pycache__
*.py[oc]

# ignore the C++ binary
bh_tsne
windows
*.obj

# ignore data files
*.txt
*.tsv
*.zip
*.csv
MNIST

# ignore plots
plots

# ignore debugging files
*.idb
*.pdb

# ignore logfiles
*.log
logging
nohup.out

# ignore results (for now)
results
